<!DOCTYPE html>
<html lang="hu">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Regisztráció</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{css/form.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Regisztráció</h1>
    </div>
    <div class="row">
        <form method="post">
            <p><label>Vezetéknév:
                <input type="text" name="lastname" class="textinput"></label></p>
            <p><label>Keresztnév:
                <input type="text" name="firstname" class="textinput"></label></p>
            <p><label>Felhasználónév:
                <input type="text" name="username" class="textinput"></label></p>
            <p><label>E-mail:
                <input type="email" name="email" class="textinput"></label></p>
            <p><label>Jelszó:
                <input type="password" name="password" class="textinput"></label></p>
            <p><label>Születési idő:
                <input type="date" name="birth_date" class="textinput"></label></p>
            <p><label>Irányítószám:
                <input type="number" name="zip" class="numinput"></label></p>
            <p><label>Város:
                <input type="text" name="location" class="textinput"></label></p>
            <p><label>Utca:
                <input type="text" name="street" class="textinput"></label></p>
            <p><label>Házszám:
                <input type="number" name="house_number" class="numinput"></label></p>
            <input type="submit" value="Küldés">

        </form>
    </div>
</div>
</body>
</html>